<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link type="text/css" href="./style.css" rel="stylesheet">
        <title><%=title %></title>
    </head>

    <body>

        <head>
            <h1><%=title %></h1>
            <div role="main">
                <p><table>
                    <% for(var key in data) { %>
                        <%- include('data_item',{key:key,val:data[key]}) %>
                    <% } %>
                </table></p>
            </div>
        </head>
    </body>

</html>